button {
    cursor: pointer;
    border: none;
    border-radius: 30px;
    font-family: Inter, sans-serif;
}

button:disabled {
    opacity: 0.5;
    cursor: default;
}

.enter {
    min-width: 174px;
    min-height: 40px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin: 21px 41px 22px;
}

.enter:hover {
    color: #8E8E8E;
}

.registration {
    min-width: 174px;
    min-height: 40px;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.registration:hover {
    color: #636262;
}

.registration-enter {
    min-width: 92px;
    min-height: 33px;
    border-radius: 20px;
    background-color: #FF00D6;
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.login-enter {
    min-width: 100px;
    min-height: 35px;
    border-radius: 20px;
    background-color: #D9D9D9;
}

.choice-button {
    min-width: 228px;
    min-height: 60px;
    background-color: #D9D9D9;
    color: black;
    font-size: 20px;
}

.begin-button {
    min-width: 201px;
    min-height: 47px;
    background-color: black;
    font-size: 17px;
    color: white;
}

.exit-button {
    min-width: 116px;
    min-height: 28px;
    background-color: #D9D9D9;
    font-size: 15px;
    color: white;
}

.websearching-button {
    min-width: 234px;
    min-height: 62px;
    background-color: black;
    font-size: 17px;
    color: white;
}

.testing-button {
    min-width: 192px;
    min-height: 34px;
    background-color: black;
    font-size: 15px;
    color: white;
    position: relative;
    bottom: 69px;
    left: 91px;
}