.python-text {
    font-size: 15px;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 47px;
    width: 318px;
}

.python-image {
    margin-bottom: 34px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    width: 259px;
    min-height: 184px;
    background-image: url("../images/frame16-background-test.svg");
}

label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 10px;
    width: 185px;
    min-height: 24px;
    margin-left: 16px;
}

input + span {
    border: 1px solid black;
    border-radius: 50%;
    min-width: 20px;
    min-height: 18px;
}

.incorrect-answer-image {
    position: relative;
    z-index: -1;
    margin-top: -210px;
}