.start-text {
    font-size: 28px;
    font-weight: 400;
    margin-top: 41px;
    margin-bottom: 40px;
}

.option-buttons-container {
    max-width: 256px;
    max-height: 145px;
    border-radius: 20px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: auto;
}

.start-image {
    margin-top: 18px;
}