.welcome-page-text {
    font-size: 28px;
    font-weight: 400;
    margin-top: 122px;
}

.choice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 51px;
}

.choice-text {
    font-size: 24px;
    text-align: center;
    margin-top: 19px;
}